<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.annis.mydemos">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDemos">
        <activity android:name=".ui.system.launchModeTest.LaunchModeTestActivity" />
        <activity android:name=".ui.main.CarNumberSelectorActivity" />
        <activity
            android:name=".ui.system.launchModeTest.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.system.launchModeTest.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.system.launchModeTest.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".ui.system.launchModeTest.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.system.HandlerTestActivity"
            android:label="@string/title_activity_handler_test"
            android:theme="@style/Theme.MyDemos.NoActionBar" />

        <receiver
            android:name=".ui.system.receiver.StickyBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.system.BroadcastTestActivity"
            android:exported="true" />

        <service
            android:name=".ui.system.serviceTest.BindServiceTest"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.system.serviceTest.StartServiceTest"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.system.serviceTest.ServiceTestMainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.system.LoaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_loader"
            android:theme="@style/Theme.MyDemos.Fullscreen" />
        <activity
            android:name=".ui.system.NetWorkStateActivity"
            android:exported="true" />
        <activity
            android:name=".ui.system.SoftCallListenerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.annis.mydemos.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>